*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#main{
    width: 100%;
    min-height: 100vh;
    background-color: #81ecec;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.note{
    height: 400px;
    width: 400px;
    background-color: white;
    margin: 20px;
    margin-top: 25px;
}
.tool{
    width: 100%;
    background-color: #2d3436;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: end;
}
.tool i{
    padding: 5px;
    cursor: pointer;
}
.note textarea{
    border: 0px;
    height: 100%;
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 18px;
}
.note textarea :focus{
    border: 0px;
    outline: 0px;
}
#addBtn{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #2d3436;
    color: white;
    padding: 10px;
    border: 0;
    outline: 0px;
    border-radius: 5px;
}